.form-text-area-column {
	width: calc(100% - 6%);
	margin: 3%;
}

textarea{
	width: 100%;
	border-radius: 10px;
	padding-top: 20px !important;
	padding-bottom: 20px !important;
	padding-left: 20px !important;
	padding-right: 20px !important;
	margin-top: 10px !important;
	background-color: aliceblue;
    height: 250px;
    overflow-x: hidden;
}

textarea:focus{
	border: 1px solid rgb(247, 115, 7) !important;
}
textarea:focus-visible {
	outline: -webkit-focus-ring-color #833ab4 1px !important;
	outline-color: #833ab4;
	/* outline-style: ;
	outline-width: ; */
}